<h1>Listing recipes</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Preparation</th>
    <th>Serving</th>
    <th>Notes</th>
    <th>Blurb</th>
    <th>Author</th>
    <th>Yield</th>
    <th>Preptime</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @recipes.each do |recipe| %>
  <tr>
    <td><%= recipe.title %></td>
    <td><%= recipe.preparation %></td>
    <td><%= recipe.serving %></td>
    <td><%= recipe.notes %></td>
    <td><%= recipe.blurb %></td>
    <td><%= recipe.author %></td>
    <td><%= recipe.yield %></td>
    <td><%= recipe.preptime %></td>
    <td><%= link_to 'Show', recipe %></td>
    <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
    <td><%= link_to 'Destroy', recipe, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Recipe', new_recipe_path %>
